
.sequence_terms_display {
    font-size: 0.83rem;
    font-family: Menlo, 'Droid Sans Mono', 'DejaVu Sans Mono', 'Lucida Sans Typewriter', 'Consolas', monospace;
}

.sequence-id {
    background-color: #eeeeff;
    font-size: 1.5rem;
    font-family: monospace;
    line-height: 50px;
}

.sequence_author{
    font-family: monospace;
}

#main_page .card {
    
    padding-bottom: 10px;
    border: 1px solid #bbb;
    width: 31%;
}

.gallery {
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

#sequence_detail_page {
    margin-right: 40%;
}

.info_terms {
    font-size: 0.83rem;
    font-family: Menlo, 'Droid Sans Mono', 'DejaVu Sans Mono', 'Lucida Sans Typewriter', 'Consolas', monospace;
}